{% extends "pages/base.html" %}
{% load static %}

{% block title %}Методические материалы - Танцуй{% endblock title %}

{% block content %}


<!-- Методические материалы Start -->
<section class="blog-area pt-95 pb-100 ">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-xs-12">
                <div class="section-title text-center">
                    <h2>Методические материалы</h2>
                    <p>Статьи, видео-уроки и многое другое</p>
                </div>
            </div>
        </div>


        <div class="articles-categories">

            <a class="collapsed hidden-lg hidden-md" data-toggle="collapse" data-target="#navbar-articles">
                <p class="list-group-item">Категории</p>
            </a>


            <div class="hidden-lg hidden-md">

                <ul class="list-group collapse mt-10" id="navbar-articles">
                    <li class="list-group-item"><a href="">Category 1</a></li>
                    <li class="list-group-item"><a href="">Category 2</a></li>
                    <li class="list-group-item"><a href="">Category 3</a></li>
                    <li class="list-group-item"><a href="">Category 4</a></li>
                    <li class="list-group-item"><a href="">Category 5</a></li>
                </ul>
            </div>
            <br>

        </div>

        <div class="row">
            <div class="col-md-8 col-sm-12 col-xs-12">

                <div class="row">
                    <h3>Последние публикации</h3>
                    <div class="mt-10"></div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="single-blog">
                            <div class="blog-pic single-img">
                                <img src="{% static "img/blog/blog1.jpg" %}" alt="blog">
                            </div>
                            <div class="blog-content">
                                <h3>Название статьи</h3>
                                <h6>29 Мая 2020</h6>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut nisl non justo
                                    aliquam
                                    euismod ut ac orci.</p>
                                <a href="blog.html">Читать</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="single-blog">
                            <div class="blog-pic single-img">
                                <img src="{% static "img/blog/blog1.jpg" %}" alt="blog">
                            </div>
                            <div class="blog-content">
                                <h3>Название статьи</h3>
                                <h6>29 Мая 2020</h6>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut nisl non justo
                                    aliquam
                                    euismod ut ac orci.</p>
                                <a href="blog.html">Читать</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-12 col-xs-12 articles-categories">
                <div class="hidden-sm hidden-xs">
                    <h3>Категории</h3>
                    <ul class="list-group collapse in mt-10">
                        <li class="list-group-item"><a href="">Category 1</a></li>
                        <li class="list-group-item"><a href="">Category 2</a></li>
                        <li class="list-group-item"><a href="">Category 3</a></li>
                        <li class="list-group-item"><a href="">Category 4</a></li>
                        <li class="list-group-item"><a href="">Category 5</a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- Методические материалы End -->

<section class="bg-gray">

    {% endblock content %}