{% extends "pages/base.html" %}
{% load static %}

{% block title %}Методические материалы - Танцуй{% endblock title %}

{% block content %}


<!-- Методические материалы Start -->
<section class="blog-area pt-95 pb-50">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-xs-12">
                <div class="section-title text-center">
                    <h2>Методические материалы</h2>
                    <p>Статьи, видео-уроки и многое другое</p>
                </div>
            </div>
        </div>


        <div class="articles-categories">
            <a class="collapsed hidden-lg hidden-md list-group-item" data-toggle="collapse"
                data-target="#navbar-articles">
                <p class="zmdi zmdi-view-headline"> Категории</p>
            </a>

            <div class="hidden-lg hidden-md">

                <ul class="list-group collapse mt-10" id="navbar-articles">
                    <li class="list-group-item"><a href="/articles">Последние публикации</a></li>
                    {% for category in categories %}
                    <li class="list-group-item"><a href="/articles/{{category.slug}}">{{category.category}}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <br>

        </div>

        <div class="row">
            <div class="col-md-8 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 ">
                        {% if category%}
                        <h3>{{ category }}</h3>
                        {% else %}
                        <h3>Последние публикации</h3>
                        {% endif %}
                        <div class="mt-10"></div>
                        {% for post in posts %}

                        <div class="articles-content">
                            <div class="single-blog">
                                <div class="blog-pic single-img">
                                    <img src="{{ post.cover.url }}" alt="">
                                </div>
                                <div class="blog-content">

                                    <h3>{{ post.title }}</h3>
                                    <h6>{{ post.updated }} </h6>
                                    <!-- Автор {{ post.author }} -->

                                    <p>{{ post.description }}</p>
                                    <a href="/articles/item/{{post.slug}}">Читать</a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                </div>
            </div>

            <div class="col-md-4 col-sm-12 col-xs-12 articles-categories">
                <div class="hidden-sm hidden-xs">
                    <h3>Категории</h3>
                    <ul class="list-group collapse in mt-10">
                        <li class="list-group-item"><a href="/articles">Последние публикации</a></li>
                        {% for category in categories %}
                        <li class="list-group-item"><a href="/articles/{{category.slug}}">{{category.category}}</a></li>
                        {% endfor %}
                    </ul>

                    <h3>Новости</h3>
                    <div class="mt-10"></div>
                    <div class="side-list">
                        <ul class=" list-group mt-10">
                            {% for news_item in news %}
                            <li>
                                <a href="/articles/item/{{news_item.slug}}">{{ news_item.title }}</a>

                                <h6>{{ news_item.created }} </h6>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>


        </div>

        <!-- pagination Start -->
        {% include "pages/pagination.html" with page=posts %}
        <!-- pagination End -->

    </div>
</section>
<!-- Методические материалы End -->




<section class="bg-gray">

    {% endblock content %}