{% extends "pages/base.html" %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="title-main-page ">

            <h1 class="rounded">Хореографический коллектив "ТАНЦУЙ"</h1>
        </div>
    </div>




    <div class="about-us" id="about-us">
        <div class="container">
            <h2>Что мы предлагаем?</h2>
            <br>
            <div class="row">
                <div class="col-md-4">
                    <h4>Различные танцевальные направления</h4>
                    Классические
                    <br>
                    Эстрадные
                </div>


                <div class="col-md-4">
                    <h4>Элементы гимнастики и акробатики</h4>
                </div>

                <div class="col-md-4">
                    <h4>Развитие чувства ритма</h4>
                </div>
            </div>
        </div>
    </div>
    </div>



    <div class="prices" id="prices">
        <div class="container">
            <h2>Расписаие занятий</h2>
            <div class="prices-items row">
                <div class="prices-text col-md-12">
                    <h3>Занятия проходят в понедельник, среду и пятницу</h3>
                    <h2>1-2 класс 17:00-17:45</h2>
                    <h2>3-4 класс 18:00-18:45</h2>
                    <h2>5-8 класс 19:00-20:00</h2>
                    <div class="first-lesson col-md-12">
                        <button type="button" class="btn btn-primary">Записаться на пробное занятие</button>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <div class="about-teacher">
        <div class="container">
            <h2>Руководитель кружка</h2>
            <br>
            <div class="row">
                <img class="col-md-4" src="{% static "img/teacher.jpg" %}" alt="">
                <div class="col-md-8">
                    <h4 class="teacher-name">Парилова Мария Анатольевна</h4>
                    <h5>тел. 8 (908) 646-04-55</h5>
                    <p>Художественный руководитель хореографического коллектива "Танцуй" - Парилова Мария Анатольевна 🌷

                        Квалификация: педагог дополнительного образования в области хореографии.
                        Стаж работы более 5 лет.
                        Её воспитанники являются призёрами городских, областных и международных конкурсов ☀

                        Постоянно находится в творческом поиске
                        Стабильно посещает мастер-классы и курсы повышения квалификации.
                        Девиз по жизни: Делай то, что любишь. Люби то, что делаешь ❣</p>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

