{% extends "pages/base.html" %}
{% load static %}

{% block title %}{{post.title}} - Танцуй{% endblock title %}

{% block content %}

<section class="blog-area pt-95 pb-100 ">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-xs-12">
                <div class="section-title text-center">
                    <h2>Методические материалы</h2>
                    <p>Статьи, видео-уроки и многое другое </p>
                </div>
            </div>
        </div>


        <div class="articles-categories">
            <a class="collapsed hidden-lg hidden-md list-group-item" data-toggle="collapse"
                data-target="#navbar-articles">
                <p class="zmdi zmdi-view-headline"> Категории</p>
            </a>

            <div class="hidden-lg hidden-md">

                <ul class="list-group collapse mt-10" id="navbar-articles">
                    <li class="list-group-item"><a href="/articles">Последние публикации</a></li>
                    {% for category in categories %}
                    <li class="list-group-item"><a href="/articles/{{category.slug}}">{{category.category}}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <br>

        </div>

        <div class="row">
            <div class="col-md-8 col-sm-12 col-xs-12">
                <div class="article-content">
                    <h3>{{post.title}}</h3>
                    <h6>{{ post.updated }} </h6>
                    <h6>Автор <a href="/#teacher">{{ post.author }}</a> </h6>
                    <!-- <img src="" alt="Фотография, если есть"> -->
                    {{ post.body|safe }}
                </div>
            </div>

            <div class="col-md-4 col-sm-12 col-xs-12 articles-categories">
                <div class="hidden-sm hidden-xs">
                    <h3>Категории</h3>
                    <ul class="list-group collapse in mt-10">
                        <li class="list-group-item"><a href="/articles">Последние публикации</a></li>
                        {% for category in categories %}
                        <li class="list-group-item"><a href="/articles/{{category.slug}}">{{category.category}}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

    </div>
</section>

{% endblock content %}