{% extends "pages/base.html" %}
{% load static %}

{% block title %}Методические материалы - Танцуй{% endblock title %}

{% block content %}

<section class="blog-area pt-95 pb-100 ">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-xs-12">
                <div class="section-title text-center">
                    <h2>Методические материалы</h2>
                    <p>Статьи, видео-уроки и многое другое </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <h3>Название статьи</h3>
                <img src="" alt="Фотография, если есть">
                <p>Содержимое статьи</p>
                
            </div>
        </div>

    </div>
</section>

{% endblock content %}