{% extends "pages/base.html" %}
{% load static %}

{% block title %}Новости - Танцуй{% endblock title %}

{% block content %}

<section class="blog-area pt-95 pb-100 ">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-xs-12">
                <div class="section-title text-center">
                    <h2>Новости</h2>
                    <p>Жизнь нашего коллектива </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-sm-12 col-xs-12">
                <div class="article-content">
                    <h3>{{news.title}}</h3>
                    <h6>
                        {{news.created}}
                        {% if news.created != news.updated %}
                        (изменено {{ news.updated }})
                        {% endif %}
                    </h6>
                    <img class="pb-20" src="{{ news.cover.url }}" alt="">
                    {{ news.body|safe }}
                    <h4>Фотографии с мероприятия (если есть)</h4>
                    <img src="" alt="Несколько фотографий">
                    <br>
                    <a href="">Смотерть весь альбом</a>
                </div>
            </div>
            <!-- Боковое меню Start -->
            <div class="col-md-4 col-sm-12 col-xs-12 side-list">
                <div class="hidden-sm hidden-xs">
                    {% include "pages/last_news.html" %}
                    {% include "pages/last_articles.html" %}
                </div>
            </div>
            <!-- Боковое меню End-->
        </div>

    </div>
</section>

<section class="bg-gray">
    {% endblock content %}