{% extends "pages/base.html" %}
{% load static %}

{% block title %}Новости - Танцуй{% endblock title %}

{% block content %}

<section class="blog-area pt-95 pb-100 ">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-xs-12">
                <div class="section-title text-center">
                    <h2>Новости</h2>
                    <p>Жизнь нашего коллектива </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="news-content">
                    <h3>Название новости</h3>
                    <h6>01.06.2020</h6>
                    <img src="" alt="Фотография, если есть">
                    <p>Содержимое новости</p>
                </div>

            </div>
        </div>

    </div>
</section>

<section class="bg-gray">
{% endblock content %}