{% extends "pages/base.html" %}
{% load static %}

{% block title %}Новости - Танцуй{% endblock title %}

{% block content %}


<!-- Новости (Blog) Start -->
<section class="blog-area pt-95 pb-100 ">
    <div class="container">

        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-xs-12">
                <div class="section-title text-center">
                    <h2>Новости</h2>
                    <p>Жизнь нашего коллектива </p>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-8 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 ">
                        <h3>Самое интересное за последнее время</h3>
                        <div class="mt-10"></div>
                        {% for news_item in news %}
                        <div class="articles-content">
                            <div class="single-blog">
                                <div class="blog-pic single-img">
                                    <img src="{{ news_item.cover.url }}" alt="">
                                </div>
                                <div class="blog-content">

                                    <h3>{{ news_item.title }}</h3>
                                    <h6>{{ news_item.updated }} </h6>
                                    <p>{{ news_item.description }}</p>
                                    <a href="/news/item/{{news_item.slug}}">Читать</a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>


            <div class="col-md-4 col-sm-12 col-xs-12 articles-categories">
                <div class="hidden-sm hidden-xs">
                    <h3>Последние публикации</h3>
                    <div class="mt-10"></div>
                    <div class="side-list">
                        <ul class=" list-group mt-10">
                            {% for post in posts %}
                            <li>
                                <a href="/articles/item/{{post.slug}}">{{ post.title }}</a>

                                <h6>{{ post.updated }} </h6>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>







    <!-- <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-xs-12">
                <div class="section-title text-center">
                    <h2>Новости</h2>
                    <p>Жизнь нашего коллектива </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="single-blog">
                    <div class="blog-pic single-img">
                        <img src="{% static "img/blog/blog1.jpg" %}" alt="blog">
                    </div>
                    <div class="blog-content">
                        <h3>Название мероприятия</h3>
                        <h6>29 Мая 2020</h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut nisl non justo aliquam
                            euismod ut ac orci.</p>
                        <a href="/news/item/1">Подробнее</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="single-blog">
                    <div class="blog-pic single-img">
                        <img src="{% static "img/blog/blog1.jpg" %}" alt="blog">
                    </div>
                    <div class="blog-content">
                        <h3>Название мероприятия</h3>
                        <h6>29 Мая 2020</h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut nisl non justo aliquam
                            euismod ut ac orci.</p>
                        <a href="blog.html">Подробнее</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="single-blog">
                    <div class="blog-pic single-img">
                        <img src="{% static "img/blog/blog1.jpg" %}" alt="blog">
                    </div>
                    <div class="blog-content">
                        <h3>Название мероприятия</h3>
                        <h6>29 Мая 2020</h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut nisl non justo aliquam
                            euismod ut ac orci.</p>
                        <a href="blog.html">Подробнее</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="single-blog">
                    <div class="blog-pic single-img">
                        <img src="{% static "img/blog/blog1.jpg" %}" alt="blog">
                    </div>
                    <div class="blog-content">
                        <h3>Название мероприятия</h3>
                        <h6>29 Мая 2020</h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut nisl non justo aliquam
                            euismod ut ac orci.</p>
                        <a href="blog.html">Подробнее</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="single-blog">
                    <div class="blog-pic single-img">
                        <img src="{% static "img/blog/blog1.jpg" %}" alt="blog">
                    </div>
                    <div class="blog-content">
                        <h3>Название мероприятия</h3>
                        <h6>29 Мая 2020</h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut nisl non justo aliquam
                            euismod ut ac orci.</p>
                        <a href="blog.html">Подробнее</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="single-blog">
                    <div class="blog-pic single-img">
                        <img src="{% static "img/blog/blog1.jpg" %}" alt="blog">
                    </div>
                    <div class="blog-content">
                        <h3>Название мероприятия</h3>
                        <h6>29 Мая 2020</h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut nisl non justo aliquam
                            euismod ut ac orci.</p>
                        <a href="blog.html">Подробнее</a>
                    </div>
                </div>
            </div>
        </div> -->
    <!-- pagination Start -->
    {% include "pages/pagination.html" with page=posts %}
    <!-- pagination End -->
    </div>
</section>
<!-- Новости (Blog) End -->

<section class="bg-gray">
    {% endblock content %}