{% extends "pages/base.html" %}
{% load static %}

{% block title %}Главня - Танцуй{% endblock title %}

{% block content %}
<section class="blog-area pt-95 pb-100" style="min-height: 100%;">
    <div class="container">
        <div class="row">
            <div class="text-center">
                <h3 class='pb-15'>Вы успешно записались на занятие!</h3>
                <p>В ближайшее время мы вам перезвоним, чтобы уточнить информацию.</p>
                <p class='pb-15'>До встречи на занятии!</p>
                <a class="banner-btn btn-modal mt-55" href="/" data-text="Вернуться на главную"><span>Вернуться на
                        главную</span>
                </a>
            </div>
        </div>
    </div>
</section>


<section class="bg-gray">

    {% endblock content %}